 # Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify common tools used by Data Scientists
- Create and run arithmetic expressions in Python
- Understand how to convert units (e.g., minutes to hours)
- Use Markdown cells for formatting and documentation in Jupyter notebooks

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn
4. TensorFlow
5. Kera
6. OpenCV

### Using Markdowns in Jupyter Notebooks to create a table

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Visual Studio Code (VS Code) |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

hours = 200 / 60
hours

3.3333333333333335

## Author  
Ayan Das